---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  misc-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-named-parameter

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:
  - key:             readability-function-size.StatementThreshold
    value:           '800'
...
